
/*幻燈片特效*/
#sliderImg {
    opacity: 1;
    transition: 1s; /*延遲1s*/
}
#sliderImg.fadeOut {
    opacity:0;
}

.note{
    /* 文字超過變... */
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow:hidden;
    
    box-sizing:border-box; /* 使元素的寬度包括padding margin, border*/

    display: flex;
    align-items: center; /*flex垂直置中*/
    justify-content: center; /*flex水平置中*/
    
    text-align: center; /*文字水平置中*/

    margin: 0 -1.5px; /*邊線切齊 border/2 */
    border: 3px black dashed;/*邊線: 黑色 虛線*/
    border-collapse: collapse;

    white-space:nowrap; /*不換行*/
    overflow: hidden; /* 超過範圍隱藏 */
    pointer-events: none;/*使div不被點擊到*/
    
    overflow: scroll; /*超過範圍滾輪*/
    overflow-x: hidden; /*取消左右滑動*/

    float: right; /*靠右*/
    
    position: relative; /*該區塊為relative(相對配置)，position: absolute用*/
    position: absolute; /*該區塊為absolute(絕對配置)，以relative的左上角為起點，預設是body*/
    
    cursor: pointer; /*滑鼠特效*/

    z-index: 1; /*顯示順序，越大越前面*/
}
